<h1>Home</h1>

<div class="btns-home">
    <div class="btn-abrir-task">
        <a href="/tasks">Abrir tasks</a>
    </div>
    <div>
        <a class="btn-add-task" href="/tasks/add">Criar nova tasks</a>
    </div>
</div>